/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

/*******
Navigation
******/

.navbar {
  font-family: 'Indie Flower', cursive;
}

.navbar-brand  {
  font-size: 40px;
  margin: 10px 0 0 10px;
}

.resource a {
  text-decoration: none;
}

.btn {
  margin: 10px 0 0 10px;
  font-size: 30px;
  text-decoration: none;
}

#slack {
  height: auto;
  width: 100%;
}

/*******
New Submission Page
******/

.cursive {
  font-family: 'Indie Flower', cursive;
}

/*******
Footer
******/

#footer {
  border-color: #e7e7e7;
  background-color: #f8f8f8;
  text-align: right;
  padding: 10px 0 0 10px;
  border-width: 0 0 1px;
  font-size: 20px;
}

/*******
Index
******/

.glyphicon {
  opacity: 0.5;
  
}

.glyphicon:hover {
  opacity: 1.0;
}

.links {
  padding: 100px 0 0 100px;
}


